

#title{

  font-size:70px;
  font-family: 'Oleo Script Swash Caps', cursive;
  text-shadow: 2px 2px 2px;





}

.marrom{

  background: linear-gradient(#1B2430, #51557E);

}

.centralizado{


  text-align:center;


}



table, thead,tr,td{

  font-family: 'Pirata One', cursive;


  border: 6px solid;
  font-size:40px;



}

table{

  background-color:#125;

}

body{

  background-color: black;



}

td{

  background-color: #238;
  padding-right:65px;




}



td:hover{


  font-size:114%;
  background-color:#435;
  cursor: pointer;



}
.espada:hover{

  padding-right:0px;

}
